<chasing-dots-spinner ng-show="vm.showSpinner === true"></chasing-dots-spinner>

<standingsHead class="row" ng-init="vm.getDates(vm.season); vm.getAllUsers()">
  <standDiv class="col s12 capper-head z-depth-1">
    <div class="col s10 left-align">
      <p class="capHead"> <a ng-click="vm.tutRedirect()" class="btn-floating float-color tut-btn-page"><i class="fa fa-graduation-cap tut-bar" style="font-size: 30px; padding-top: 10%" aria-hidden="true"></i></a> capperGrades </p>
    </div>
    <selectDiv class="col s2 res-select">
        <label> Select Season </label>
        <select class="browser-default" ng-model="vm.season" ng-change="vm.seasonChange(vm.season)">
          <option ng-repeat = "season in vm.seasons" value="{{season}}"> {{season}} </option>
        </select>
    </selectDiv>
    <howTo>
      <p class="col s12">
        - The capperGrade methodology is explained in detail in the <a ng-click="vm.tutRedirect()" class="pointer">How to Play</a> page.
      </p>
      <p class="col s12" style="margin-bottom: 15px">
        - An entrant's weekly capperGrade is the average of their capperGrades for that week's games. Those scores are then summed to make an entrant's total capperScore.
      </p>
    </howTo>
  </standDiv>
</standingsHead>

<cGrades class="row">
  <table class="striped">
    <thead>
      <tr>
        <th colspan="1">  </th>
        <th colspan="5" class="center-align ytd-header"> Year to Date </th>
        <th colspan="{{vm.weeksOfGames.length}}" class="center-align ytd-header">Week</th>
      </tr>
      <tr class="bord-bottom">
        <th>Entrant</th>
        <th> W </th>
        <th> L </th>
        <th> Win% </th>
        <th class="center-align"> $ </th>
        <th class="center-align bord-right">capperScore</th>
        <th ng-repeat="week in vm.weekNumbs" class="center-align ">{{week}}</th>
      </tr>
    </thead>
    <tbody ng-show="vm.showStandings">
      <tr ng-repeat="user in vm.users | orderBy: vm.sortOrder" ng-init="vm.getCapperGrades(user, vm.season)" class="pushdown">
        <td class="user-size"> <a ui-sref="home.user({username: user.username})">{{user.username}}</td>
        <td class="ytdwBox"> <b> {{user.ytdW}} </b> </td>
        <td class="ytdwBox"> <b> {{user.ytdL}} </b> </td>
        <td> <i> {{user.ytdPct | percentage:2}} </i> </td>
        <td class="sum-total" ng-class="{dayWin: user.sumYtd > 0, dayLoss: user.sumYtd < 0}"> {{user.sumYtd | currency:$:2}} </td>
        <td class="center-align capperScore"> {{user.totalCapperScore | number:2}} </td>
        <td ng-repeat="week in user.capperGrades" ng-class="{capperHigh: week.avgCapperGrade >= 9, capperMed: week.avgCapperGrade < 9 && week.avgCapperGrade > 7.5, capperLow: week.avgCapperGrade <= 7.5}" on-finish-render="ngRepeatFinished"> {{week.avgCapperGrade | number:2}}</td>
      </tr>
    </tbody>
  </table>
</cGrades>
