<standingsHead class="row" ng-init="vm.getDates(); vm.getAllUsers()">
  <standDiv class="col m12 result-head z-depth-1">
    <div class="col m5 left-align">
      <p class="resHead"> capperGrades </p>
    </div>
    <!-- <pagination class="col m4 offset-m3 right-align">
      <div>
        <ul class="pagination">
          <li class="waves-effect" ng-class="{disabled: vm.activePage === 1}" ng-click="vm.activePage !== 1? vm.pageDown() : null"><a><i class="fa fa-chevron-left"></i></a></li>
          <li ng-repeat="i in vm.pageArray" ng-class="{active: i === vm.activePage}" ng-click="vm.pageClick(i)" class="waves-effect"> {{i}}</li>
          <li class="waves-effect" ng-class="{disabled: vm.activePage > (vm.dayArrayLength / 4)}" ng-click="vm.activePage < (vm.dayArrayLength / 4) ? vm.pageUp() : null"><a><i class="fa fa-chevron-right"></i></a></li>
        </ul>
      </div>
    </pagination> -->
  </standDiv>
</standingsHead>

<cGrades class="row">
  <table class="striped">
    <thead>
      <tr>
        <th colspan="2">  </th>
        <th colspan="{{vm.weeksOfGames.length}}" class="center-align">Week</th>
      </tr>
      <tr>
        <th>Entrant</th>
        <th>Total CapperGrade</th>
        <th ng-repeat="week in vm.weekNumbs">{{week}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in vm.users" ng-init="vm.getCapperGrades(user)">
        <td>{{user.username}}</td>
      </tr>
    </tbody>

  </table>
</cGrades>
