<gameHead class="row" ng-init="vm.getLineData(); vm.checkDST()">
  <div class="col s12 result-head">
    <div class="col s5 left-align">
      <div class="gameHead"> Game Selection Analysis </div>
      <div class="game-details" ng-show="vm.game.AwayTeam"> {{vm.game.Week}}: <span style="color: {{vm.game.AwayColor}}">{{vm.game.AwayTeam}}</span> @ <span style="color: {{vm.game.HomeColor}}">{{vm.game.HomeTeam}}<span></div>
      <div ng-show="vm.game.GameStatus === 'Final' && vm.game.HomeScore > vm.game.AwayScore">
        <b>FINAL SCORE: <span style='color: {{vm.game.HomeColor}}'>{{vm.game.HomeAbbrev}} </span> {{vm.game.HomeScore}}, <span style='color: {{vm.game.AwayColor}}'>{{vm.game.AwayAbbrev}}</span> {{vm.game.AwayScore}} </b>
      </div>
      <div ng-show="vm.game.GameStatus === 'Final' && vm.game.AwayScore > vm.game.HomeScore">
        <b>FINAL SCORE: <span style='color: {{vm.game.AwayColor}}'>{{vm.game.AwayAbbrev}} </span> {{vm.game.AwayScore}}, <span style='color: {{vm.game.HomeColor}}'>{{vm.game.HomeAbbrev}}</span> {{vm.game.HomeScore}} </b>
      </div>
    </div>
    <div class="col s2">
      <div class="gameSelector">
        <label><i>Go to {{vm.game.Week}} game:</i></label>
          <select class="browser-default gameSelect inline" ng-model="vm.gameSelect" ng-change="vm.goToGame()" ng-options="game.ID as game.Abbrev for game in vm.weeklyGames">
          </select>
      </div>
    </div>
    <div class="col s5">
      <table class="bordered">
        <thead>
          <tr>
            <th class="center-align no-sp"><b>CLOSING ODDS</b></th>
            <th class="center-align no-sp"><b>Spread</b></th>
            <th class="center-align no-sp"><b>ML</b></th>
            <th class="center-align no-sp"><b>Total</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center-align no-sp" style="color: {{vm.game.AwayColor}}; margin-top: -2%" ng-show="vm.game.AwayAbbrev"> <b><img class="selection-image" src="{{vm.game.AwayHelmet}}"/>{{vm.game.AwayAbbrev}}</b></td>
            <td class="center-align no-sp" ng-show="vm.game.PointSpreadAway"> {{vm.game.PointSpreadAway | mlFormat}} ({{vm.game.PointSpreadAwayLine | mlFormat}}) </td>
            <td class="center-align no-sp" ng-show="vm.game.MoneyLineAway"> {{vm.game.MoneyLineAway | mlFormat}}  </td>
            <td class="center-align no-sp" ng-show="vm.game.TotalNumber"> Over {{vm.game.TotalNumber}} ({{vm.game.OverLine | mlFormat}}) </td>
          </tr>
          <tr>
            <td class="center-align no-sp" style="color: {{vm.game.HomeColor}}" ng-show="vm.game.HomeAbbrev"> <b><img class="selection-image" src="{{vm.game.HomeHelmet}}" />{{vm.game.HomeAbbrev}}</b></td>
            <td class="center-align no-sp" ng-show="vm.game.PointSpreadHome"> {{vm.game.PointSpreadHome | mlFormat}} ({{vm.game.PointSpreadHomeLine | mlFormat}}) </td>
            <td class="center-align no-sp" ng-show="vm.game.MoneyLineHome"> {{vm.game.MoneyLineHome | mlFormat}} </td>
            <td class="center-align no-sp" ng-show="vm.game.TotalNumber"> Under {{vm.game.TotalNumber}} ({{vm.game.UnderLine | mlFormat}}) </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</gameHead>
<chasing-dots-spinner ng-show="vm.showSpinner === true"></chasing-dots-spinner>

<div class="row">
  <div class="col s8" style="padding: 0; margin: 0">
    <div zingchart id="myChart" zc-json="vm.myConfig" zc-width="100%" zc-height="1000px"></div>
  </div>
  <div class="col s4 chartInfo">
    <div class="bestLines">
      <div class="bestLinesHead">
        :: BEST LINES AVAILABLE
      </div>
      <div class="col s6 optLineTm">
        <div class="col s12" style="color: {{vm.game.AwayColor}}">
          {{vm.game.AwayAbbrev}} SPREAD
        </div>
        <div class="col s12" style="color: {{vm.game.HomeColor}}">
          {{vm.game.HomeAbbrev}} SPREAD
        </div>
        <div class="col s12" style="color: {{vm.game.AwayColor}}">
          {{vm.game.AwayAbbrev}} ML
        </div>
        <div class="col s12" style="color: {{vm.game.HomeColor}}">
          {{vm.game.HomeAbbrev}} ML
        </div>
        <div class="col s12" style="color: #D6D6D6; padding-top: 2px">
          TOT OVER
        </div>
        <div class="col s12" style="color: black; padding-top: 2px">
          TOT UNDER
        </div>
      </div>
      <div class="col s6 optLine" ng-show="vm.game.AwaySpreadBest">
        <div class="col s12" style="color: {{vm.game.AwayColor}}">
          {{vm.game.AwaySpreadBest | mlFormat}} ({{vm.awayOptJuice | mlFormat}})
        </div>
        <div class="col s12" style="color: {{vm.game.HomeColor}}">
          {{vm.game.HomeSpreadBest | mlFormat}} ({{vm.homeOptJuice | mlFormat}})
        </div>
        <div class="col s12" style="color: {{vm.game.AwayColor}}">
          {{vm.game.AwayMLBest | mlFormat}}
        </div>
        <div class="col s12" style="color: {{vm.game.HomeColor}}">
          {{vm.game.HomeMLBest | mlFormat}}
        </div>
        <div class="col s12" style="color: #D6D6D6">
          {{vm.game.TotalLow}} ({{vm.totOverOptJuice}})
        </div>
        <div class="col s12" style="color: black">
          {{vm.game.TotalHigh}} ({{vm.totUnderOptJuice}})
        </div>
      </div>
    </div>
    <div class="bestLines2">
      <div class="bestLinesHead2">
        <div>
          :: CAPPER RANKINGS
        </div>
      </div>
      <div class="capperBox">
        <capperDiv class="col s12" ng-repeat="pick in vm.capperRanks" on-finish-render="ngRepeatFinished">
          <div class="col s9">
            <capLead>{{pick.ranking}}. <a ui-sref="home.user({username: pick.username})">{{pick.username}}</a></capLead>
          </div>
          <div class="col s3">
            <capLead>{{pick.capperGrade}}</capLead>
          </div>
          <div class="col s12 pickActive" style="color: {{pick.color}}">
            {{pick.activePick}} <span ng-hide="pick.pickType === 'Home Moneyline' || pick.pickType === 'Away Moneyline'"> ({{pick.activeLine | mlFormat}}) </span>
          </div>
          <div class="col s12 pickSubmit">
            {{pick.submittedAt | date:'EEE, MMM d @ h:mma'}}
          </div>
          <hr class="col s8 offset-s2" style="background-color: #D6D6D6">
        </capperDiv>
      </div>
    </div>
  </div>

</div>
