  <script type="text/javascript">
$(document).ready(function(){
   $(".button-collapse").sideNav({
     menuWidth: 360,
     edge: 'left',
     closeOnClick: true
   });

   $(".dropdown-button").dropdown();
   $('.collapsible').collapsible();
 });
</script>

<div class="navbar-fixed" ng-init="vm.getDates()">
  <ul id='standings-dropdown' class="dropdown-content">
    <li><a ui-sref='home.standings'>Overall Standings</a></li>
    <li><a ui-sref='home.capper-grades'>capperGrades</a></li>
    <li><a ui-sref='home.prizes'>Prizes</a></li>
  </ul>
  <nav class="z-depth-2">
    <div class="nav-wrapper">
      <a ui-sref="home" class="brand-logo">Battle the Bookies</a>
      <a data-activates="mobile-nav" class="button-collapse"><i class="fa fa-bars"></i></a>
      <ul class="left logo-lead">
        A Level Above <span class="weak"> presents <span>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li ng-show="vm.isLoggedIn() !== false"><a ui-sref="home.user({username: vm.currentUser()})">{{ vm.currentUser() }}</a></li>
        <li ng-hide="vm.isLoggedIn() !== false"><a ui-sref='home.login' class="gold">Login</a></li>
        <li ng-show="vm.isLoggedIn() !== false"><a ng-click="vm.logOut()" class="gold">Logout</a></li>
        <li><a ui-sref="home.tutorial">How to Play</a></li>
        <li><a ui-sref="home.makepicks">Make Picks</a></li>
        <li><a class='dropdown-button' data-beloworigin="true" data-constrainwidth="false" href="#" data-activates='standings-dropdown'>Standings</a></li>
        <li><a ui-sref='home.results.picks({weekNumb: vm.currentWeekNumb})'>Results</a></li>
        <li><a ui-sref='home.user({username: vm.currentUser()})'>Users</a></li>
        <li><a href='http://www.mikeduin.com/alevelabove/blog/main'>ALA Home</a></li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li>
          <div class="userView">
            <img class="background" src="images/nfl-money-resize.jpg">
          </div>
        </li>
        <li><a ui-sref="home" style="color: #B68708; font-size: 32px">Battle the Bookies</a></li>
        <li ng-show="vm.isLoggedIn() !== false" class="ala-link"><a ui-sref="home.user({username: vm.currentUser()})">{{ vm.currentUser() }}</a></li>
        <li ng-hide="vm.isLoggedIn() !== false" class="ala-link"><a ui-sref='home.login'>Login</a></li>
        <li ng-show="vm.isLoggedIn() !== false"><a ng-click="vm.logOut()" style="color: #B68708">Logout</a></li>
        <li><a ui-sref="home.tutorial">How to Play</a></li>
        <li><a ui-sref="home.makepicks">Make Picks</a></li>
        <li><a ui-sref='home.standings'>YTD Standings</a></li>
        <li><a ui-sref='home.capper-grades'>capperGrades</a></li>
        <li><a ui-sref='home.results.picks({weekNumb: vm.currentWeekNumb})'>Results</a></li>
        <li><a ui-sref='home.user({username: vm.currentUser()})'>Users</a></li>
        <li><a ui-sref='home.prizes'>Prizes</a></li>
        <li class="ala-link"><a class="ala-linkage" style="color: #E1DFE1; font-size: 24px" href='http://www.mikeduin.com/alevelabove/blog/main'>A Level Above Home</a></li>
      </ul>
    </div>
  </nav>
</div>
