<splits ng-init="vm.getWeeklyNflLines(); vm.getAllUsers(); vm.getWeeklyPicks()">
  <div class="row">
    <div class="col s4 split-table" ng-repeat="game in vm.nflLines | orderBy: [vm.gameSort, vm.gameSortTwo]" ng-if="vm.checkTime(game.MatchTime) === true">
      <table class="striped">
        <!-- <thead>
          <tr>
            <th class="center-align" colspan="3"> Game 1 </th>
          </tr>
        </thead> -->
        <tbody>
          <tr>
            <td class="center-align no-sp"> <img src="http://www.riddell.com/media/catalog/product/cache/1/image/475x/040ec09b1e35df139433887a97daa66f/3/0/30129_PL_Cardinals_5.png" alt="" class="helmet-size"/> </td>
            <td></td>
            <td class="center-align no-sp"> <img src="http://www.riddell.com/media/catalog/product/3/0/30101_PL_Falcons_5.png" alt="" class="helmet-size"/> </td>
          </tr>
          <tr>
            <td class="center-align no-sp"> <b>{{game.AwayAbbrev}}</b> </td>
            <td class="center-align no-sp"> CLOSING ODDS</td>
            <td class="center-align no-sp"> <b>{{game.HomeAbbrev}}</b> </td>
          </tr>
          <tr>
            <td class="center-align no-sp"> {{game.PointSpreadAway | mlFormat}} </td>
            <td class="center-align no-sp"> <b>SPREAD</b> </td>
            <td class="center-align no-sp"> {{game.PointSpreadHome | mlFormat}} </td>
          </tr>
          <tr>
            <td class="center-align no-sp"> {{game.MoneyLineAway | mlFormat}} </td>
            <td class="center-align no-sp"> <b>MONEYLINE</b> </td>
            <td class="center-align no-sp"> {{game.MoneyLineHome | mlFormat}} </td>
          </tr>
          <tr>
            <td class="center-align no-sp"> Under {{game.TotalNumber}} </td>
            <td class="center-align no-sp"> <b>TOTAL</b> </td>
            <td class="center-align no-sp"> Over {{game.TotalNumber}} </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</splits>
