<splits ng-init="vm.getWeeklyNflLines(); vm.getDates(); vm.getAllUsers(); vm.getWeeklyPicks()">
  <div class="row">
    <div class="col s4 split-table">
      <table class="striped">
        <thead>
          <tr>
            <th class="center-align" colspan="3"> Game 1 </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="center-align no-sp"> <img src="http://www.riddell.com/media/catalog/product/cache/1/image/475x/040ec09b1e35df139433887a97daa66f/3/0/30129_PL_Cardinals_5.png" alt="" class="helmet-size"/> </td>
            <td></td>
            <td class="center-align no-sp"> <img src="http://www.riddell.com/media/catalog/product/3/0/30101_PL_Falcons_5.png" alt="" class="helmet-size"/> </td>
          </tr>
          <tr>
            <td class="center-align no-sp"> <b>Team 1</b> </td>
            <td class="center-align no-sp"> CLOSING ODDS</td>
            <td class="center-align no-sp"> <b>Team 2</b> </td>
          </tr>
          <tr>
            <td class="center-align no-sp"> ARI +3 </td>
            <td class="center-align no-sp"> <b>SPREAD</b> </td>
            <td class="center-align no-sp"> ATL -3 </td>
          </tr>
          <tr>
            <td class="center-align no-sp"> ARI +150 </td>
            <td class="center-align no-sp"> <b>MONEYLINE</b> </td>
            <td class="center-align no-sp"> ATL -180 </td>
          </tr>
          <tr>
            <td class="center-align no-sp"> Under 40.5 </td>
            <td class="center-align no-sp"> <b>TOTAL</b> </td>
            <td class="center-align no-sp"> Over 40.5 </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</splits>
