<results ng-init="vm.getWeeklyNflLines(); vm.getDates(); vm.getWeeklyPicks(); vm.getSeasonUsers(vm.season)">
  <table class="bordered striped res-table">
    <thead>
      <tr>
        <th class="left-align">
          <span class="table-sorter" ng-click="vm.userToggle()">Entrant</span>
        </th>
        </th>
        <th class="center-align">
          <span class="table-sorter" ng-click="vm.ytdToggle()">YTD</span>
        </th>
        <th class="left-align">
          <span class="table-sorter" ng-click="vm.weeklyToggle()">Week</span>
        </th>
        </th>
        <th ng-repeat="game in vm.nflLines | orderBy: [vm.gameSort, vm.gameSortTwo]" ng-if="vm.checkTime(game.MatchTime) === true"> <span class="nobr">{{game.AwayAbbrev}} {{game.AwayScore}} </span> <br> <span class="nobr"> {{game.HomeAbbrev}} {{game.HomeScore}} </span> <br> {{game.GameStatus}}
          <br> <span ng-hide="vm.chartDisplay(game.MatchTime) === false"> <a class="btn-floating float-color" ui-sref="home.game({EventID: game.EventID})"><i class="fa fa-bar-chart" aria-hidden="true"></i></a> </span>
        </th>
      </tr>
    </thead>
    <tbody ng-show="vm.showResults">
      <tr ng-repeat="user in vm.users | orderBy: vm.userSort" ng-init="vm.sumAllPicks(user)">
        <td class="user-size"> <a ui-sref="home.user({username: user.username})">{{user.username}}</a> </td>
        <td class="nobr center-align"> <b> {{user.sumYtd | currency:$:0}} </b> </td>
        <td class="nobr"> <b>
           <span>{{user.weeklyDollars | currency:$:0}} </span>
        </b> </td>
        <td ng-repeat="pick in vm.picks | orderBy: [vm.gameSort, vm.gameSortTwo] | filter: {username: user.username}" ng-if="vm.checkTime(pick.MatchTime) === true" ng-class="{pickWin: pick.pickResult === 'win', pickLoss: pick.pickResult === 'loss', pickPush: pick.pickResult === 'push'}" on-finish-render="ngRepeatFinished"> {{pick.activePick}} <br><span ng-if="pick.Final === true"> {{pick.finalPayout | currency:$:0}} </span> </td>
      </tr>
    </tbody>
  </table>
</results>
