<userHead class="row" ng-init="vm.getUser(); vm.getDates(); vm.getMatchups()">
  <userInfo class="col m4">
    <section class="col m12">
      <selectDiv class="col m8">
        <div class="col m12">
          <label> Select a User </label>
          <select class="browser-default" ng-model="vm.userFilter" ng-init="vm.getAllUsers()" ng-change="vm.userChange()">
            <option ng-repeat = "user in vm.users" value="{{user.username}}"> {{user.username}} </option>
          </select>
        </div>
      </selectDiv>
    </section>
    <userDiv class="col m12 left-align">
      <stats>
        <profDiv class="col m12">
          <div class="col m3">
            <i class="ionicons user-baseball ion-ios-americanfootball-outline user-icons"></i>
          </div>
          <div class="col m9">
            <div class="username"> {{vm.user.username}} </div>
            <div class="realname"> {{vm.user.nameFirst}} {{vm.user.nameLast}} </div>
          </div>
        </profDiv>
        <div class="col m12">
          <div class="col m3">
            <i class="fa fa-line-chart user-chart user-icons" style="font-size: 70px"></i>
          </div>
          <div class="col m9">
            <div>
              <gameTitle> NFL 2016 </gameTitle>
            </div>
            <div>
              <profits>
                <b>TOTAL PROFITS:</b> <span class="nobr"> {{vm.user.sumYtd | currency:$:0}} </span>
              </profits>
            </div>
            <div>
              <b>Wins</b>: {{vm.user.ytdW}}
            </div>
            <div>
              <b>Losses</b>: {{vm.user.ytdL}}
            </div>
            <div>
              <b>Win %</b>: {{vm.user.ytdPct | percentage:2}}
            </div>
          </div>
        </div>
      </stats>
    </userDiv>
  </userInfo>
  <lineChart class="col m7">
    <div zingchart id="mixed-chart" zc-json="vm.dailyData" zc-width="100%" zc-height="350px"></div>
  </lineChart>
</userHead>

<pieCharts class="row">
  <div class="col m4 .favData">
    <div zingchart id="fav-chart" zc-json="vm.favData" zc-width="100%" zc-height="350px"></div>
  </div>
  <div class="col m4">
    <div zingchart id="pick-type-chart" zc-json="vm.pickTypeData" zc-width="100%" zc-height="350px"></div>
  </div>
  <div class="col m4">
    <div zingchart id="tendency-chart" zc-json="vm.tendencyData" zc-width="100%" zc-height="350px"></div>
  </div>
</pieCharts>

<div class="row pickSection">
  <div class="col s9 userPicks">
    {{vm.userFilter}}'s Picks
  </div>
  <div class="col s3 userWkSelect">
    <label> Select a Week </label>
    <select class="browser-default" ng-change="vm.checkWeekNumb()" ng-model="vm.gameWeekFilter">
      <option value="" > (all Weeks) </option>
      <option ng-repeat = "day in vm.weeksOfGames" value="{{day}}"> {{day}} </option>
    </select>
  </div>
  <table class="bordered striped">
    <thead>
      <tr>
        <th> Week </th>
        <th> Date </th>
        <th> Game </th>
        <th> Pick </th>
        <th> Result </th>
        <th> Best Line </th>
        <th> CapperGrade </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="game in vm.picks | orderBy: 'MatchTime' | filter: { Week: vm.gameWeekFilter }">
        <td> {{game.Week}} </td>
        <td> {{game.MatchTime | date:'MM/dd/yyyy'}} <br> {{game.MatchTime | date:'h:mm a'}} </td>
        <td class="gameMatchup">
          <b>{{game.matchup}}</b> <span class="stat-button" ng-show="vm.checkTime(game)"><a class="btn-floating float-color" ui-sref="home.game({EventID: game.EventID})"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></span>
        </td>
        <td ng-show="vm.checkDisplay(game)" style="font-size: 20px">
           <b>{{game.activePick}}</b> <span ng-hide="!game.activeLine || (game.pickType === 'Home Moneyline' || game.pickType === 'Away Moneyline')">({{game.activeLine | mlFormat}})</span>
        </td>
        <td ng-show="!vm.checkDisplay(game)"> <i>hidden</i></td>
        <td ng-show="game.finalPayout !== 0" ng-class="{pickWin: game.pickResult === 'win', pickLoss: game.pickResult === 'loss', pickPush: game.pickResult === 'push'}">
          <span style="font-size: 20px">{{game.finalPayout | currency:$:2}} </span>
        </td>
        <td ng-show="game.bestLineAvail && (game.pickType === 'Home Moneyline' || game.pickType === 'Away Moneyline' || game.pickType === 'Home Spread' || game.pickType === 'Away Spread')" class="bestLn">
          {{game.bestLineAvail | mlFormat}} <span ng-hide="vm.weekNumb < 6 || (game.pickType === 'Home Moneyline' || game.pickType === 'Away Moneyline')">
          ({{game.bestJuiceAvail | mlFormat}})</span>
        </td>
        <td ng-show="game.bestLineAvail && (game.pickType === 'Total Over')" class="bestLn">
          O{{game.bestLineAvail}}
          <span ng-hide="vm.weekNumb < 6">({{game.bestJuiceAvail | mlFormat}})</span>
        </td>
        <td ng-show="game.bestLineAvail && (game.pickType === 'Total Under')" class="bestLn">
          U{{game.bestLineAvail}}
          <span ng-hide="vm.weekNumb < 6">({{game.bestJuiceAvail | mlFormat}})</span>
        </td>
        <td ng-show="game.capperGrade" ng-class="{capperHigh: game.capperGrade >= 9, capperMed: game.capperGrade < 9 && game.capperGrade > 7.5, capperLow: game.capperGrade <= 7.5}"> {{game.capperGrade}}</td>
      </tr>
    </tbody>
  </table>
</div>
