<div class="row image-back" ng-init="vm.getUser(); vm.getSeasonStats()">
  <regBack class="col m12">
    <regBox class="col m8 offset-m2 z-depth-2">
      <loginTitle> {{vm.userFilter}}'s Game History </loginTitle>
      <div class="row">
        <table class="col s12" id="reRegTable">
          <thead>
            <tr>
              <th>Season</th>
              <th>Status</th>
              <th>W</th>
              <th>L</th>
              <th>%</th>
              <th>Game Score</th>
              <th>Prize</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="season in vm.seasons" ng-init="vm.sumSeasonPicks(season)">
              <td><b>{{season}}</b></td>
              <td>
                <div ng-show="vm.seasonStats[season]"> <i> active </i> </div>
                <div ng-show="!vm.seasonStats[season] && season != 2018">DNP</div>
                <div class="btn btn-small btn-rereg" ng-show="!vm.seasonStats[season] && season == 2018 && vm.currentUser() == vm.userFilter" ng-click="vm.reReg = !vm.reReg; vm.regSeason = season">REGISTER</div>
              </td>
              <td>{{vm.seasonStats[season].wins}}</td>
              <td>{{vm.seasonStats[season].losses}}</td>
              <td><span ng-show="vm.seasonStats[season].pct">{{vm.seasonStats[season].pct | percentage:2}}</span></td>
              <td><b>{{vm.seasonStats[season].profit | currency:$:0}}</b></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">All-Time</td>
              <td>{{vm.user.ytdW}}</td>
              <td>{{vm.user.ytdL}}</td>
              <td>{{vm.user.ytdPct | percentage:2}}</td>
              <td>{{vm.user.sumYtd | currency:$:0 }}</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div ng-show="vm.reReg" class="row">
        <form class="col s12" name="regForm" ng-submit="vm.reRegister(user)">
            <div class="row">
              <buyInLevel class="col m3 offset-m1">
                <span class="buy-in-label"> Choose Your Buy-in:</span>
                <br>
                <input class="with-gap" name="group1" type="radio" id="bronzeTier" value='50' ng-model="user.buyin" required>
                <label for="bronzeTier" ng-style="user.buyin === '50' ? {'font-weight': 800} : {'font-weight': 200}"> <color class="bronze">Bronze</color> ($50) </label>
                <br>
                <input class="with-gap" name="group1" type="radio" id="silverTier" value='100' ng-model="user.buyin">
                <label for="silverTier" ng-style="user.buyin === '100' ? {'font-weight': 800} : {'font-weight': 200}"> <color class="silver">Silver</color> ($100) </label>
                <br>
                <input class="with-gap" name="group1" type="radio" id="goldTier" value='200' ng-model="user.buyin">
                <label for="goldTier" ng-style="user.buyin === '200' ? {'font-weight': 800} : {'font-weight': 200}"> <color class="gold">Gold</color> ($200) </label>
              </buyInLevel>
              <pickProtect class="col m4">
                <span ng-click="vm.openModal()" class="buy-in-label pick-plan tooltipped" data-position="top" data-delay="20" data-tooltip="what is this?"> <i class="fa fa-question-circle" aria-hidden="true"></i> Pick Protection Plan ($20):</span>
                <br>
                <input class="with-gap" name="group2" type="radio" id="noPlan" value="noPlan" ng-model="user.plan">
                <label for="noPlan" ng-style="user.plan === 'noPlan' ? {'font-weight': 800, 'color': 'black'} : {'font-weight': 200}"> No Plan (free) </label>
                <input class="with-gap" name="group2" type="radio" id="homeSpreads" value="homeSpreads" ng-model="user.plan">
                <label for="homeSpreads" ng-style="user.plan === 'homeSpreads' ? {'font-weight': 800, 'color': 'black'} : {'font-weight': 200}"> Home Spreads </label>
                <input class="with-gap" name="group2" type="radio" id="roadSpreads" value="roadSpreads" ng-model="user.plan">
                <label for="roadSpreads" ng-style="user.plan === 'roadSpreads' ? {'font-weight': 800, 'color': 'black'} : {'font-weight': 200}"> Road Spreads </label>
                <input class="with-gap" name="group2" type="radio" id="favMLs" value="favMLs" ng-model="user.plan">
                <label for="favMLs" ng-style="user.plan === 'favMLs' ? {'font-weight': 800, 'color': 'black'} : {'font-weight': 200}"> Favorite MLs </label>
                <input class="with-gap" name="group2" type="radio" id="dogSpreads" value="dogSpreads" ng-model="user.plan">
                <label for="dogSpreads" ng-style="user.plan === 'dogSpreads' ? {'font-weight': 800, 'color': 'black'} : {'font-weight': 200}"> Dog Spreads </label>
              </pickProtect>
              <div class="col m3">
                <button type="submit" class="btn btn-large waves-effect waves-light login-button"> LET'S PARTY </button>
                <!-- <div>
                  <i> <b> Registration is now closed for the 2016 NFL season. </b> </i>
                </div> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </regBox>
  </regBack>
</div>

<div id="modal1" class="modal">
   <div class="modal-content">
     <h4>What is a Pick Protection Plan?</h4>
     <p>A pick protection plan allows an entrant to pay an additional $20 to protect themselves from missed picks -- which would otherwise earn them an automatic loss of $100 in-game dollars -- by selecting from one of four pick strategies which will automatically make selections for a user in the event that no pick is selected for a game. Those options are:</p>
     <div><b>Home Team Against the Spread</b></div>
     <div><b>Road Team Against the Spread</b></div>
     <div><b>Favored Team's Moneyline</b></div>
     <div><b>Underdog Against the Spread</b></div>
     <p>In other words, if you paid $20 for a 'Home Team ATS' plan and did not make a selection for a game, you would automatically be given the home team at their closing spread at gametime. The $20 from each pick protection plan will be re-distributed into the prize pool proportionally based on a user's buy-in. </p>
   </div>
   <div class="modal-footer">
     <h5 ng-click="vm.closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat">Got it!</h5>
   </div>
 </div>
